/*--------------------------------------------------------------
# About component
--------------------------------------------------------------*/

#about{
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.section-title h2{
  position: relative;
  margin-bottom: 40px;
  font-size: 42px;
  line-height: 64px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

.about .image {
  background: url("../../assets/images/Profile_GITHUB.jpg") center center no-repeat;
  background-size: cover;
  min-height: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
}


.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .count-box {
  width: 100%;
}

.about .content .count-box i {
  display: block;
  font-size: 36px;
  float: left;
  line-height: 0;
}

.about .content .count-box span {
  font-size: 36px;
  line-height: 30px;
  display: block;
  font-weight: 700;
  color: #3b434a;
  margin-left: 50px;
}

.about .content .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 50px;
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  color: #5d6a75;
}

.about .content .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #5d6a75;
  font-size: 15px;
  font-family: Lato, Arial, sans-serif;
  transition: ease-in-out 0.3s;
}

.about .content .count-box a:hover {
  color: #82909c;
}

/* This one is to decrease the font size of the mail address when im small mobile*/
@media only screen and (max-width: 400px) {

  #small-mail{
    font-size: 1rem;
  }

}